.contact-page {
  
  .contact-desc {
    margin-top: 30px;
    margin-bottom: 60px;
    h1 {
      font-size: 32px;
      margin-bottom: 25px;
    }
  }

  ul.social-network.social-circle {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    li a {
      width: 23px;
      height: 23px;
      font-size: 15px;
    }
    i {
      line-height: 24px;
    }
  }

  
}