.appearance_page_custom-header #headimg {
  background-repeat: no-repeat;
  border: none;
  background-position: left;
}
#headimg h1 a {
  float: left;
  width: 100%;
  text-decoration: none;
}

#headimg img {
  display: inline-block;
}

#desc {
  float: left;
  width: 100%;
}
.wrap .saved {
  color: white;
  font-size: 1.3em;
  padding: 5px;
  background-color: #275B1E;
}

.wrap .dm-logo {
  max-width: 100%;
  height: auto;
}


.dm_header_name_desc {
  display: inline-block;
}

.dm-logo-wrap {
  float: right;
  margin: 5px;
}

.dm-options-form-wrap {
  background-color: #ffffff;
}

/* ADVANCED CUSTOM FIELDS ADMIN STYLES */
.home-image-carousel-admin .acf-gallery {
  max-height: 200px;
}

/* Grey out ACF inactive panels */
.acfInactive .acf-fc-layout-handle {
  background-color: #e1e1e1;
  color: #888 !important;
}
.acfInactive .acf-fc-layout-handle:after {
  content: " - Inactive";
}

/* MORE TOP PADDING ABOVE TABS */
.acf-fields > .acf-tab-wrap .acf-tab-group {
  padding-top: 30px;
}

/* HIDE THE "ACTIVE THEME/CHANGE THEME" ITEM IN THE CUSTOMIZER */
#accordion-section-themes {
  display: none !important;
}

@media (max-width: 535px) {
  .dm-logo-wrap {
    width: 100%;
    text-align: center;
  }
  .wrap .dm-logo {
    max-width: 50%;
  }
}

/* HIDE THE SITE ICON EDITOR FROM THE CUSTOMIZER */
#customize-control-site_icon {
  display: none !important;
}



/* Admin Entry Detail View section */
#post-body.columns-2 #side-sortables {
    min-height: 100%;
}
/* hide the default gravity form info box and notifications box, top toolbar */
#entry_form #submitcomment #minor-publishing,
#entry_form #submitdiv h3.hndle,
#entry_form #notifications,
#entry_form #gf_form_toolbar {
  display: none;
}

#entry_form table#entry-summary,
#entry_form table#entry-summary table {
  font-size: inherit;
  word-break: break-word;
}
#entry_form table#entry-summary table tbody tr td:first-child {
  width:100px;
}

#entry_form .postbox .hndle,
#entry_form .stuffbox .hndle {
  border-bottom: none;
}

#entry_form .entry-notes td {
  vertical-align: top;
}
/* End Admin Entry Detail View section */


/* Entry Rating Styling */
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 125px;
    height: 25px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain
}

.star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain
}

.star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative
}

.star-rating input:hover+i,.star-rating input:checked+i {
    opacity: 1
}

.star-rating i~i {
    width: 40%
}

.star-rating i~i~i {
    width: 60%
}

.star-rating i~i~i~i {
    width: 80%
}

.star-rating i~i~i~i~i {
    width: 100%
}
/* End Entry Rating Styling*/

/* admin gform display */
#gform_fields .field_hover.lockedField {
  background-image: url(../img/gf-fieldnotification-header.jpg);
}

/*
  "disable" the following for locked fields
    - Visibility selector
    - Required/Not Required field checkbox
    - editing of the option field values for fields marked as lockValOnly
    - editing of the option field values and text for fields marked as lockValText
*/
#gform_fields .lockedField.lockValOnly .field-choice-value,
#gform_fields .lockedField.lockValText .field-choice-value,
#gform_fields .lockedField.lockValText .field-choice-text,
#gform_fields .lockedField input[name=field_visibility],
#gform_fields .lockedField .visibility_setting label,
#gform_fields .lockedField #field_required,
#gform_fields .lockedField label[for=field_required] {
  pointer-events: none;
  background: rgba(255,255,255,.5);
  border-color: rgba(222,222,222,.75);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
  color: rgba(51,51,51,.5);
}

/* field 303 - status
  -  remove delete buttons for first five choices
  - remove add buttons for first four choices
  - removed sort ability, as we need the locked options always at the top
        or the below CSS won't work correctly
*/
#gform_fields #field_303.lockedField .field-choice-row:nth-child(-n+4) .gf_insert_field_choice,
#gform_fields #field_303.lockedField .field-choice-row:nth-child(-n+5) .gf_delete_field_choice,
#gform_fields #field_303.lockedField .fa-sort.field-choice-handle{
  display: none;
}
/* field 304 - flags
   - remove delete buttons for first three choices
   - remove add buttons for first two choices
   - removed sort ability, as we need the locked options always at the top
        or the below CSS won't work correctly
*/
#gform_fields #field_304.lockedField .field-choice-row:nth-child(-n+2) .gf_insert_field_choice,
#gform_fields #field_304.lockedField .field-choice-row:nth-child(-n+3) .gf_delete_field_choice,
#gform_fields #field_304.lockedField .fa-sort.field-choice-handle{
  display: none;
}

/*    class lockNoChg
  - remove all delete buttons on choices
  - remove all add buttons on choices
  - remove all sort ability
*/
#gform_fields .lockedField.lockNoChg .field-choice-row .gf_insert_field_choice,
#gform_fields .lockedField.lockNoChg .field-choice-row .gf_delete_field_choice,
#gform_fields .lockedField.lockNoChg .fa-sort.field-choice-handle{
  display: none;
}
/* Add message to top of edit form view */
.toplevel_page_gf_edit_forms .gforms_edit_form:before {
  content: 'Red fields are needed for your site to work properly and cannot be deleted.
    You may move these fields, but do not edit them. Thanks.';
  background-image: url(../img/gf-fieldnotification-header.jpg);
  width: 100%;
  display: block;
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
}

/* style gf entry detail view sidebar */
.schedBox input {
  margin-top: 3px;
}
.schedBox input,
.schedBox .schedInfo {
  float: left;
}
.schedBox .schedInfo .innerInfo {
  padding-top: 10px;
}

.schedBox .schedInfo {
  padding-left: 10px;
}

.schedBox,
.locBox {
  padding: 10px 0;
  border-bottom: thin solid lightgray;
}

#locationList {
  margin-bottom: 10px;
}
#entrySched #scheduledItems {
  border-bottom: thin dashed grey;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#entrySched label {
  font-weight: 700;
  line-height: 1.5;
  padding: 7px 0;
  display: block;
}
#entrySched #typeSel, #entrySched #locationSel {
  width: 90%;
}

#entrySched .stageName {
  padding-left: 10px;
}

#entrySched .startDt {
  margin-top: 10px;
}

#entrySched .time {

}

#delete_entry_schedule {
  padding-bottom: 15px;
}

#dispSchedSect {
  margin-top: 10px;
  margin-bottom: 10px;
}

#schedSect {
  margin-bottom: 10px;
}

#notes {
  display: none;
}

#field_335, #field_331, #field_336, #field_332, #field_337, #field_333, #field_338, #field_330, #field_334, #field_329 {
  display: none;
}

/* entry detail head section */
#entry_form .inner-sidebar {
  width: 300px;
}
h2.gf_admin_page_title #gform_settings_page_title {
  padding-left:0;
}
h2.gf_admin_page_title span.gf_admin_page_subtitle {
  display: block;
  clear: both;
  font-size: .6rem;
  line-height: 1.8em !important;
}
h2.gf_admin_page_title span.gf_admin_page_subtitle  span.gf_admin_page_formid,
h2.gf_admin_page_title span.gf_admin_page_subtitle  span.gf_admin_page_formname {
    color: #FFF;
    letter-spacing: 0.1rem;
    padding: 1px 8px 2px 9px;
    font-size: 11px !important;
    font-weight: normal !important;
    line-height: 1.8em !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 8px 0 0 !important;
    position: relative;
    top: -1px;
    display: -moz-inline-stack;
    display: inline-block;
  }
  h2.gf_admin_page_title span.gf_admin_page_subtitle span.gf_admin_page_formid {
    background-color: #D54E21;
  }
  h2.gf_admin_page_title span.gf_admin_page_subtitle span.gf_admin_page_formname {
    background-color: #0074A2;
  }
/* end entry detail head section */