.gmf-footer {
  padding: 30px 0 10px;
  border-top: 5px solid #37AEF0;
}
.gmf-footer .list-unstyled li:nth-of-type(1n+5) {
  display: none;
}
.gmf-footer .footer-logo-div {
  min-height: 65px;
  max-height: 65px;
}
.gmf-footer .footer-logo-div .footer-logos {
  max-height: 65px;
  max-width: 200px;
}
.gmf-footer .footer-logo-div .footer-logos.footer-local-logo {
  max-width: 310px;
}
.gmf-footer .footer-right-border {
  border-right: 1px dashed rgba(63, 175, 237, 0.5);
}
@media (max-width: 767px) {
  .gmf-footer .footer-right-border {
    border-right: none;
  }
}
.gmf-footer .list-unstyled {
  margin-top: 20px;
}
.gmf-footer .list-unstyled li {
  padding-bottom: 5px;
}
.gmf-footer .footer-right-col {
  margin-top: 0;
}
.gmf-footer .footer-right-col li:first-child {
  padding-bottom: 0;
}
.gmf-footer .footer-right-col li:first-child p {
  color: #9CAFC3;
  font-size: 14px;
  margin-top: -6px;
  margin-bottom: 5px;
}
.gmf-footer .copyright-footer {
  color: #9CAFC3;
  font-size: 12px;
}
.gmf-footer a {
  font-weight: 300;
}
